{% extends 'base.html' %}
{% block content %}

<!-- Login Form -->
aws-cognito-integration
    <div class="container-xxl bg-white p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="https://jobsearch.auth.us-west-1.amazoncognito.com/login?client_id=7jtg9vv6jrc03a1clorb2s4d4r&response_type=code&scope=email+openid+aws.cognito.signin.user.admin&redirect_uri=http%3A%2F%2Flocalhost%3A9001%2Fuser" class="nav-item nav-link"> Login/Register </a>
            </div>
        </div>
    </nav>
    </div>
    {% endblock %}

