{% extends "base.html" %}

{% block title %}Job search - JobSwift{% endblock %}

{% block content %}
        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0" placeholder="Keyword" />
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0">
                                    <option selected>Location</option>
                                    {% set locations = [] %}
                                        {% for job in jobs %}
                                            {% if job.job_location not in locations %}
                                                {% set _ = locations.append(job.job_location) %}
                                                <option value="{{ job.job_location }}">{{ job.job_location }}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-dark border-0 w-100">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Latest jobs</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <div class="tab-content"> -->
                        <div id="tab-1" class="tab-pane fade show p-0 active">

                            {% for job in jobs[:4] %}

                            <div class="job-item p-4 mb-4  col-md-5">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{ job.job_title }}</h5> 
                                            <h7><a href="{{ job.company_url }}">{{ job.company_name }}</a></h7>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ job.job_location }}</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>${{ job.min_salary }} - ${{ job.max_salary }}</span>
                                            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Deadline: 01 Jan, 2045</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="/jobs/{{ job.job_id }}">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            
                            <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- Jobs End -->

        {% endblock %}