{% extends "base.html" %}

{% block title %}Job search - JobSwift{% endblock %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">{{ job.job_title }}</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <!-- <div class="tab-content"> -->
                <div id="tab-1" class="tab-pane fade show p-0 active" style="text-align: left; margin: 0 60px;">
                    <p><strong>Location:</strong> {{ job.job_location }}</p>
                    <p><strong>Company:</strong> <a href="{{ job.company_url }}">{{ job.company_name }}</a></p>
                    <p><strong>Description:</strong> {{ job.job_description }}</p>
                    <p><strong>Salary:</strong> ${{ job.min_salary }} - ${{ job.max_salary }}</p>
                    <p><strong>Posted On:</strong> {{ job.job_posted_on }}</p>
                    <div class="d-flex mb-3">
                        <a class="btn btn-primary" href="/apply/{{ job.job_id }}">Apply Now</a>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}